@page "/product/{Id:int}"
@inject HttpClient httpClient
@using SinusWebShop.Models
@using System.Net.Http.Json

@if (Product != null)
{
    <div class="product-details">
        <h1>@Product.Title</h1>
        <img src="@Product.Thumbnail" alt="@Product.Title" />
        <p>Description: @Product.Description</p>
        <p>Price: @Product.Price</p>
        <p>Stock: @Product.Stock</p>
        <p>Brand: @Product.Brand</p>
        <p>Category: @Product.Category</p>
        <h2>Images:</h2>
        @foreach (var image in Product.Images)
        {
            <img src="@image" alt="Product Image" />
        }
    </div>
}
else
{
    <p>Product not found.</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public Product? Product { get; set; }
    public string ErrorMessage { get; set; }

    [Inject]
    public HttpClient HttpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Product = await HttpClient.GetFromJsonAsync<Product>($"products/{Id}");
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }


}
